@font-face {
  font-family: "inter";
  src: url("./public/Fonts/InterVariable-s.p.494bb210.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --bg-color: #f4f5f4;
  --color-darkgreen: #1d4c56;
  --color-lightgreen: #45bc97;
  --color-badge: #96b099;
  --color-brown: #b4ab48;
  --color-darkbrown: #88600e;
  --color-lightbrown: #d1d092;
  --color-subheading: #08090acc;
  --color-blue: #3a88c8;
  --color-lightpink: #bca794;
  --color-black: #000;
  --text-white: #f4f5f4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}

header{
    background-image: linear-gradient(to bottom,
                      rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.221)),
                      url(./assets//bg-light.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center -85px;
    
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    gap: 3rem;
    backdrop-filter: blur(12px);
    position: sticky;
    z-index: 1000;
    top:0px;
}
.logo img {
  width: 104px;
  height: 24px;
  cursor: pointer;
  
}
.logo{
    display: flex;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 180px;
}

.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 6px 8px;
    font-weight: 400;
    
}

.nav-links a:hover {
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1); 
    
    
}

.nav-btn{
    display: flex;
    align-items: center;
    gap: 15px;
    .contact-sales{
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.1); 
        border-radius: 18px;
        padding: 6px 8px;
        border: none;
        color: var(--text-white);

    }
    .start-for-free{
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        border-radius: 18px;
        padding: 6px 8px;
        border: none;
        color: var(--color-subheading);

    }
    
}
.start-for-free:hover{
        background-color: rgba(200, 193, 193, 0.343);
    }


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
}
.heading{
    display: flex;
    width: fit-content;
    background-color: rgb(4,72,103);
    border-radius: 16px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-white);
    font-size: 18px;
    
}
.heading:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer; 
}
.heading span{
    background-color: rgb(12,140,94);
    border-radius: 12px;
    font-size: 10px;
    font-weight: 600;
    color: var(--text-white);
    padding: 6px 10px;
}
.heading svg{
    width: 16px;
}


.hero h1{
    text-align: center;
    color: var(--text-white);
    font-size: 72px;
    font-weight: 600;
    font: bold;
    margin-top: 40px;
}

.sub-head{
    color: #d5e6ea;
    font-size: 28px;
    margin-top: 25px;
}

.hero form{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.50); 
    backdrop-filter: blur(10px);            
    border-radius: 32px;                    
    padding: 4px;                              
    width: 100%;
    max-width: 360px;                        
    margin: 32px 0px 0px;
    
}

.hero form input {
    
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 20px; 
   
}

.hero form input::placeholder {
    color:rgb(108, 141, 140); 
    opacity:1;
}

.hero form .start-now-btn{
    background-color: var(--bg-color);
    outline: none;
    border: none;
    border-radius: 16px;
    padding: 6px 8px;
    margin-right: 6px;
    
   
}

.hero form .start-now-btn:hover{
        background-color: rgba(200, 193, 193, 0.343);
        cursor: pointer;

}

.hero-background {
  margin-top: 75px;
  border-radius: 20px;
  overflow: hidden; 
  width: 100%;
  width: 1000px;
}

.hero-background img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}


.company-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:72px;
    justify-items: center;
    align-items: center;
    height: 10vw;
    margin: 60px 20% 60px 20%;
}
.logo img{
    width: 130px;
    height: 40px;
}


.feature-section {
    width: 70vw; 
    margin: 100px auto;
    text-align: center;
    margin-top: 200px;
}
.feature-head h1{
    font-size: 36px;
    font-weight: 400px;
}
.feature-head p{
    color: rgb(94, 101, 109);
    margin-top: 20px;
    margin-bottom: 40px;
}
.feature-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 490px; 
    height: 530px;
    margin: 0 auto;
    align-items: center;
}

.row{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.feature-card {
    flex: 1;     
    max-width: 490px;         
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 24px;
    padding: 30px 40px;
    text-align: left;
    
    
 h4{
    font-size: 14px;
    color: var(--color-lightgreen);
    margin-bottom: 20px;
}
h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
p{
    color: rgb(94, 101, 109);
    margin-bottom: 20px;
}
    
}
  




.assistant-card {
    width: 100%;  
    margin:0 auto;        
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 24px;
    padding: 40px;
    text-align: center;
    

}

.assistant h4{
    font-size: 14px;
    color: var(--color-lightgreen);
    margin-bottom: 20px;
}

.assistant h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.assistant p{
    color: rgb(94, 101, 109);
    margin-bottom: 20px;
}

